body {
  background-color: #141517;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.header-img {
  display: block;
  margin: 40px auto;
  width: 80%; 
  max-width: 700px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.2;
}

.header-byline {
  text-align: center;
  margin-top: 10px;
}

.intro {
  font-size: 1.1rem;
  margin: 40px auto;
  text-align: center;
}

.dots{
  display: block;
  margin: 40px auto;
  width: 18%; 
  max-width: 700px;
  margin-bottom: 150px;
}

.body-text{
  text-align: left;
}

.chart-block {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subhead {
  font-size: 1rem;
  margin-bottom: 20px;
}

.byline {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #aaa;
}
  
  a{
    text-decoration: underline;
    color: #c8c8c8;
  }